<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include template/navbar.ejs %>
    <h3><%= title %></h3>
    <p>Hi My Name is <%= userName %>, i'm a passionate software engineer</p>
  </body>
</html>
